{% extends 'base.html.twig' %}

{% block title %}Remerciements{% endblock %}

{% block body %}
<section class="container rgpd-section">
    <h1>Remerciements</h1>
    <a href="https://www.flaticon.com/fr/icones-gratuites/du-vin" title="du vin icônes">Du vin icônes créées par Freepik - Flaticon</a>
</section>
{% endblock %}
