@use "../base/font-face";

$dark-red: #3E0018;
$wine-red: #88002D;
$plum: #885C7E;
$black: #1A1A1A;
$cream: #FAF3F0;

$font-title: 'SourceBold';
$font-text: 'Source';
$font-footer: 'SourceXLight';
$font-semi-bold: 'SourceSemiBold';