{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<a href="{{ path('add_bouteilles') }}">Ajouter une bouteille</a></li>
<a href="{{ path('add_caves') }}">Créer ma cave</a></li>

{% endblock %}
