@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    padding: 0 6rem;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: v.$font-text;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 50% 30%, rgba(255,255,255,0.95) 0%, rgba(v.$plum, 0.15) 70%, rgba(v.$plum, 0.05) 100%);
}

h1, h2 {
    font-family: v.$font-title;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    color: v.$dark-red;
    letter-spacing: 5px;
}

